<div id="programme">

$for(programme)$

$if(break)$
    <div id="break">
$else$
    <div id="talk">
$endif$

<p>
    $if(time)$
        $time$
    $endif$
    <br>
    $if(author)$
        <b>$author$</b>,
    $endif$
    <i>
    $if(title)$
        $title$
    $else$
        TBA
    $endif$
    </i>
</p>

<div id="abstract">
    $body$
</div>

</div>

$endfor$

</div>
