<ul>
    $for(programme)$
        <li>
            $if(time)$
                $time$
            $endif$
            $if(author)$
               &mdash; <b>$author$</b>
            $endif$
            $if(title)$
               &mdash; <i>$title$</i>
            $endif$
        </li>
    $endfor$
</ul>
